body {
    background-color: #c8e6c9;
    color: #2c4e26;
    font-family: Arial, sans-serif;
    margin: 20px;
    transition: 0.3s;
}

h1 {
    color: #2c4e26;
    margin-top: 25px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}


img {
    width: 1200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

button {
    background-color: #4f8a4c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

button:hover {
    background-color: #3d6f3a;
}



body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode h1 {
    color: #a8d5a2;
}

body.dark-mode p {
    color: #ffffff;
}

body.dark-mode button {
    background-color: #4f8a4c;
    color: white;
}